.git
.github
.idea
.vscode
.temp
.tmp
coverage
dist
docs
node_modules
test
bruno
*.md
!storage/README.md
.env
.env.*
!.env.example
*.log
*.tsbuildinfo
storage/generated
storage/attachments
docker-compose.dev.yml
